---
import { Font } from "astro:assets";
import { getLangFromUrl, useTranslations } from "@/i18n/ui";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<head>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="icon" href="/favicon.svg" />

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="description" content={t("layout.description")} />

  <title>{t("layout.title")}</title>

  <Font cssVariable="--font-roboto" preload />
  <Font cssVariable="--font-fira-mono" preload />

  <style is:global>
    body {
      font-family: var(--font-roboto);
    }

    code, .monospace {
      font-family: var(--font-fira-mono);
    }
  </style>

  <meta name="generator" content={Astro.generator} />
</head>
