---
import { navLinks, serviceLinks } from "@/config/links";

import Logo from "./Logo.astro";
---

<nav class="top-2 flex md:flex-row flex-col gap-4 p-2 m-[-0.5rem] items-center sticky top-0 z-10">
  <Logo wordmark />

  <div class="nav-links flex flex-row gap-4">
    {navLinks.map(({ label, url }) => (
      <a href={url} class="btn btn-ghost hover:btn-outline btn-xs">
        {label}
      </a>
    ))}
  </div>

  <div class="spacer flex-1"></div>

  <div class="service-links flex flex-row gap-4">
    {serviceLinks.map(({ label, url }, idx) => (
    <a href={url} class={`btn btn-sm ${
       (idx == serviceLinks.length - 1) ? "btn-primary" : "btn-ghost"}`
      }>
        {label}
      </a>
    ))}
  </div>
</nav>
