---
import { navLinks, serviceLinks } from "@/config/links";

import Logo from "./Logo.astro";
---

<nav class="flex flex-row gap-4 p-2 px-4 items-center shadow-sm sticky top-0 bg-base-100 z-10 rounded-lg">
  <Logo wordmark />

  <div class="nav-links hidden md:flex md:flex-row gap-4">
    {navLinks.map(({ label, url }) => (
      <a href={url} class="btn btn-ghost hover:btn-outline btn-xs">
        {label}
      </a>
    ))}
  </div>

  <div class="spacer flex-1"></div>

  <div class="service-links hidden md:flex md:flex-row gap-4">
    {serviceLinks.map(({ label, url }, idx) => (
    <a href={url} class={`btn ${
       (idx == serviceLinks.length - 1) ? "btn-primary" : "btn-outline"}`
      }>
        {label}
      </a>
    ))}
  </div>
</nav>
