---
import Background from "./Background.astro";
import Logo from "./Logo.astro";
---

<Background />

<main>
  <section id="hero" class="flex flex-col items-center gap-4 p-16">
    <a href="https://astro.build">
      <Logo width={250} />
    </a>

    <h1 class="flex flex-row gap-2">
      To get started, open the <code><pre>src/pages</pre></code> directory in your project.
    </h1>
  </section>
</main>
