---
import Background from "./Background.astro";
import Hero from "./Hero.astro";
import NavBar from "./NavBar.astro";
---

<Background />

<main class="py-8 md:py-32 gap-4 flex flex-col">
  <Hero
    title="Marco Souza"
    subtitle="Solutions Architect in Brazil 🇧🇷"
  />

  <NavBar />
</main>
