---
import Background from "./Background.astro";
import Logo from "./Logo.astro";
---

<Background />

<main>
  <section id="hero" class="flex flex-col items-center gap-4 p-32">
    <div class="flex flex-row gap-4 items-center text-2xl">
      <Logo width={48} />
      <h1 class="text-4xl font-bold">Welcome to <code>m3o.sh</code></h1>
    </div>

    <h1 class="flex flex-row gap-2">
      To get started, open the <code><pre>src/pages</pre></code> directory in your project.
    </h1>
  </section>
</main>
