---
import NavBar from "@/components/NavBar.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/ui";
import "@/styles/global.css";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<!doctype html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />

    <title>{t("layout.title")}</title>
  </head>

  <body class="p-4">
    <NavBar />

    <slot />
  </body>
</html>

