---
import Footer from "@/components/Footer.astro";
import Head from "@/components/Head.astro";
import { getLangFromUrl } from "@/i18n/ui";
import "@/styles/global.css";

const lang = getLangFromUrl(Astro.url);
---
<!doctype html>
<html lang={lang}>
  <Head />

  <body class="p-4 max-w-2xl mx-auto gap-4 font-mono">
    <slot />

    <Footer />
  </body>
</html>

